html{
	font-size: 12px;
	height:100%
}
body{
	margin:auto;
	/*background-color: #00AAFF;*/
	background: radial-gradient(orange,#FF00AA);
	height:100%;
}


header{
	postion:fixed;
	margin: 0 auto;
	top:auto;
	
	display:flex;
	align-items: flex-end;
	align-content: flex-end;
 	height:20em;
	flex-basis: 100%;
	background-image: url("../images/back.png");
	justify-content: space-around;
	width:100%;
}
.logo{
	width:60%;
	height:100%;
}
.bouncehouses,.xl{
	margin-top:5em;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	background-color: #AA00FF;
	width:100%;
	background-image: url("../images/grass.jpg");

	
}
.seperating{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 4em;
	color:white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	text-align: center;
}
.house {
	height: 25em;
	width:25em;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.house img{
	height:70%;
	width:auto;
	margin:1.2em;
}
.house img:hover{
	height:80%;
	width:auto;
}
.house h3{
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 2em;
	color:white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	text-align: center;
}






footer{
	height: 3em;
	background-color: yellow;
}